body{
    color:rgb(57, 46, 46);
    font-family: arial;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#container{
    border: solid 1px black;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
   
}

#container h1{
    font-size: 2em;

}